include lib/smbus.c
include lib/libi2c.map
include lib/Module.mk
include README-I2C-TOOLS
include tools/i2cget.c
include tools/i2cdump.c
include tools/util.h
include tools/i2cbusses.c
include tools/i2ctransfer.8
include tools/i2cget.8
include tools/util.c
include tools/i2cdetect.c
include tools/.gitignore
include tools/i2cset.c
include tools/i2cset.8
include tools/i2ctransfer.c
include tools/i2cbusses.h
include tools/i2cdump.8
include tools/i2cdetect.8
include tools/Module.mk
include eeprom/decode-dimms
include eeprom/decode-vaio.1
include eeprom/decode-dimms.1
include eeprom/decode-vaio
include eeprom/README
include eeprom/ddcmon
include eeprom/decode-edid
include eeprom/Module.mk
include stub/i2c-stub-from-dump
include stub/i2c-stub-from-dump.8
include stub/Module.mk
include version.h
include COPYING
include Makefile
include eeprog/eeprog.c
include eeprog/.gitignore
include eeprog/24cXX.h
include eeprog/eeprog.8
include eeprog/README.eeprog
include eeprog/24cXX.c
include eeprog/Module.mk
include README
include smbusmodule.c
include CHANGES
include COPYING.LGPL
include eepromer/README.eepromer
include eepromer/eepromer.c
include eepromer/README.eeprom
include eepromer/eeprom.c
include eepromer/.gitignore
include eepromer/Makefile
include eepromer/eeprom.8
include eepromer/README
include eepromer/eepromer.8
include include/i2c/smbus.h
include include/Module.mk
include setup.py
include Module.mk
